body{
    width: 390px;
    height: 844px;
    background-color: black;
    color: white;
}
#header_insta{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
}
#usName{
    font-size: 20px;
    margin-left: 10px;
}
#icon1{
    /* color: wheat; */
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
#iconeArrow{
    width: 10px;
    height: 10px;
    margin-top: 28px;
    margin-left: 5px;
}
#iconAddNeww{
    width: 23x;
    height: 23px;
    margin-top: 18px;
    margin-left: 190px;
}
#iconMenu{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}


img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
}
#pro{
    display: flex;
}
div{
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}
.num{
    padding-left: 50px;
    margin-top: 10px;
    font-size: 13px;
    /* padding-top: 2px; */
    /* margin-bottom: px; */
    /* padding-bottom: 10px; */
}
.num_pro{
    padding-left: 19px;
}
.pro_text{
    display: flex;
    padding-left: 8px;
    padding-top: 0px;
    margin-top: 0px;
}



.bio{
    display: inline;
    padding: 0;
    margin: 0;
}
.bio_text{
    font-size: 15px;
}



.but{
    display: flex;
    margin: 0px 5px; 
    margin-left: 20px;  
    /* font-size: 10px; */
}
.btn{
    background-color: rgb(56, 55, 55);
    color: white;
    border-radius: 15%;
    border: none;
    padding: 10px 50px;
    font-size: 10px;
    margin: 0 5px;
}
.btn_icon{
    background-color: rgb(56, 55, 55);
    /* color: white; */
    border-radius: 15%;
    border: none;
    padding: 0px 5px;
    /* font-size: px; */
    margin: 1px 5px;
}
#iconUser{
    width: 20px;
    height: 20px;
    /* margin-top: 20px; */
    /* margin-left: 10px; */
}